body {
    background-color: #feffde;
    font-family: 'Fredoka One', cursive;
}

.main-container {
    background-color: #feffde;
    position: relative;
    height: 50rem;
    width: 55rem;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #feffde;
    width: 20rem;
    height: 3rem;
    top: 2%;
    color: #52734d;
    font-size: 3.5rem;
}

.board {
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #feffde;
    height: 30rem;
    width: 30rem;
    display: flex;
    top: 12.7rem;
}

.lives {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #feffde;
    width: 12rem;
    height: 4rem;
    top: 8.5rem;
    /* left: auto; */
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #feffde;
    width: 30rem;
    height: 3rem;
    top: 5rem;
}

.board td {
    width: 2.3rem;
    height: 2.3rem;
    text-align: center;
    font-size: 1.5em;
    color: #52734d;
    background-color: #91c788;
    transition: 1s;
    border-radius: 0.5rem;
}

.board td:hover {
    background-color: #ddffbc;
    transform: scale(0.85);
}

.clicked {
    background-color: #701b57;
}

.hide {
    visibility: hidden;
}

.difficulty {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #feffde;
    width: 20rem;
    height: 5rem;
    top: 43rem;
    /* right: %; */
}

.diff1,
.diff2,
.diff3,
.smiley,
.timer,
.marked {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 5rem;
    height: 3rem;
    background-color: #feffde;
    color: #52734d;
    border-radius: 1rem;
    transition: 1s;
    font-size: 1.2rem;
}

.diff1:hover,
.diff2:hover,
.diff3:hover,
.smiley:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.diff1 {
    left: 0%;
    font-size: 1rem;
}

.diff2 {
    font-size: 1rem;
}

.diff3 {
    right: 0%;
    font-size: 1rem;
}

.timer {
    right: 0%;
    top: 4.5rem;
}

.marked {
    left: 0%;
    top: 4.5rem;
}

.life-1,
.life-2,
.life-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: #feffde;
    color: #52734d;
    border-radius: 1rem;
    transition: 1s;
    font-size: 20px;
}

.life-1 {
    left: 13%;
}

.life-3 {
    right: 13%;
}

.shake-effect {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-3deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(3deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.msg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20rem;
    height: 5rem;
    top: 8.4rem;
    z-index: 1;
    color: #52734d;
    font-size: 1.5rem;
}

.smiley {
    font-size: 3rem;
    cursor: pointer;
}

.scaling {
    -webkit-animation: scaling 1s infinite alternate;
}

@keyframes scaling {
    from {
        -webkit-transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.1);
    }
}

.start {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 8rem;
    height: 3rem;
    background-color: #feffde;
    color: #52734d;
    border-radius: 1rem;
    transition: 1s;
    font-size: 2.2rem;
}

.start-clicked {
    background-color: #52734d;
    animation: disapear 1.5s 1 alternate;
    animation-fill-mode: forwards;
    color: #52734d05;
}

@keyframes disapear {
    0% {
        background-color: #feffde;
        color: #52734d05;
    }
    25% {
        background-color: #52734d;
        color: #52734d05;
        width: 8rem;
        height: 1rem;
    }
    50% {
        background-color: #52734d;
        color: #52734d05;
        width: 8rem;
        height: 0.5rem;
    }
    75% {
        background-color: #52734d;
        color: #52734d05;
        width: 2rem;
        height: 0.3rem;
    }
    99% {
        background-color: #52734d;
        color: #52734d05;
        width: 0.1rem;
        height: 0.1rem;
    }
    100% {
        width: 0rem;
        color: #52734d05;
        height: 0rem;
        visibility: hidden;
    }
}

.life {
    /* opacity: 0%; */
    animation: fade-in 5s 1 alternate;
    /* animation-delay: 1s; */
}

@keyframes fade-in {
    0% {
        height: 0rem;
        width: 0rem;
        opacity: 0%;
    }
    25% {
        height: 0rem;
        width: 0rem;
        opacity: 0%;
    }
    100% {
        width: 3rem;
        height: 3rem;
        opacity: 100%;
    }
}